<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome to <%=title%>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav list-group">
                    <%for(let i=0; i<nav.length; i++){ %>
                        <li class="list-group-item">
                            <a href="<%=nav[i].link%>">
                                <%=nav[i].title%>
                            </a>
                        </li>
                    <% } %>
                    <% if(sessionUser) { %>
                        <li class="active">
                            <a href="/auth/logout">Logout</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <ul class="nav navbar-nav list-group">
                    <%for(let i=0; i<nav.length; i++){ %>
                        <li class="list-group-item">
                            <p><a href="<%=nav[i].link%>"><%=nav[i].title%></a></p>
                        </li>
                    <% } %>
                    <% if(sessionUser && sessionUser.username) { %>
                        <li class="list-group-item">
                            <a href="/auth/logout">Logout</a>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="col text-left">
                <div class="row">
                    <%for(let i=0; i<books.length; i++){ %>
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=books[i].title%>
                            </h5>
                            <p class="card-text">
                                <%=books[i].author%>
                            </p>
                            <a href="/books/<%=books[i]._id%>" class="btn btn-primary">Read more</a>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>


    </div>

    <footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>