<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome to <%=title%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav list-group">
                    <%for(let i=0; i<nav.length; i++){ %>
                        <li class="list-group-item">
                            <p><a href="<%=nav[i].link%>"><%=nav[i].title%></a></p>
                        </li>
                    <% } %>
                    <% if(sessionUser && sessionUser.username) { %>
                        <li class="list-group-item">
                            <a href="/auth/logout">Logout</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <ul class="nav navbar-nav list-group">
                    <%for(let i=0; i<nav.length; i++){ %>
                        <li class="list-group-item">
                            <p><a href="<%=nav[i].link%>"><%=nav[i].title%></a></p>
                        </li>
                    <% } %>
                    <% if(sessionUser && sessionUser.username) { %>
                        <li class="list-group-item">
                            <a href="/auth/logout">Logout</a>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="col-sm-8 text-left">
                <!--  Sign up form -->
                <h3>Sign In</h3>
                <div class="row justify-content-center">
                    <div class="col-md-5 col-sm-6 text-center">
                        <form name="signInForm" action="/auth/signIn" method="post">
                            UserName: <input name="username" id="username"/><br>
                            Password: <input name="password" id="password" type="password"/><br>
                            <br>
                            <input type="submit" value="Sign In"/>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 sidenav">
                <div class="well">
                    <p>ADS</p>
                </div>
                <div class="well">
                    <p>ADS</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>